/* Global Styles */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* App Component */
.content { 
    padding: 4rem;
}

/* Header Component */
.content h1 {
    margin: 0;
}


